* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-image: url("../assets/images/bg.jpg");
    background-repeat: repeat;
    background-size: 325px auto;
}

.header {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 320px;
    width: 90%;
    height: auto;
    max-height: 550px;
    background-color: #f5b461;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}

.header .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    width: 95%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f3eac2;
    text-align: center;
    display: grid;
    grid-template: auto auto auto auto auto auto auto auto auto auto / 1fr;
    grid-row-gap: 10px;
    align-items: center;
}


input {
    padding: 5px;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 5px;
    color: #f5b461;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button {
    border: none;
    border-radius: 5px;
    background-color: #9ad3bc;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    color:white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

button:focus{
    outline: 1px dotted gray;
    outline-offset: -3px;
}

h1 {
    color: white;
    font-size: 2.0rem;
    line-height: 3.0rem;
    padding-top: 35px;
}

h2 {
    font-size: 1.6rem;
    line-height: 2.6rem;
}

.description {
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

p {
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 600;
}

#result {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 1px solid white;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    display: none;
}

#a1{
    color: white;
    text-align: center;
    text-decoration: none;
    margin: auto;
    font-size: 1rem;
    line-height: 1.2rem;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    bottom: 10px;
}

a{
    color: white;
    text-decoration: none;
}
